body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 40%;
    background-color: #e8e8e6;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 0 50px 35px rgba(0, 0, 0, 0.8);
    width: 290px;
    border: 1px solid #ccc;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;


}
h3  {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;

}

form label {

    display: block;
    margin-top: 15px;
    color: #36454F;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"], input[type="password"] {
    width: 92%;
    padding: 10px 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: Helvetica, Arial, sans-serif;

}

button {

    width: 100%;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 15px;
    text-align: center;
}
body.login-background {
    background-image: url('/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

